<a href="https://colab.research.google.com/github/AnthonyIacullo/WebScrapingMarketData/blob/master/Low_High_AvgVol_52Week_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!pip install yfinance
import yfinance as yf

In [2]:
tick = yf.Ticker('NVAX')
ohlc = tick.history(period='1y', interval='1D')  # pulls OHLC data from past year
df = pd.DataFrame(ohlc)  # OHLC dataframe
df['Dividends']  # deletes Dividends column
df['Stock Splits']  # deletes Stock Splits column

# delete empty rows to allow calculated data not to be messed up
df.dropna(subset=['Open'], inplace=True)

rows, columns = df.shape  # calculates the number of rows & columns... mainly use rows for calculations

rows

253

In [3]:
df.dropna(subset=['Volume'], inplace=True)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-03,238.500000,239.789993,190.000000,195.119995,8594300,0,0
2021-05-04,184.649994,191.970001,170.000000,180.669998,6333100,0,0
2021-05-05,186.940002,194.990005,160.000000,171.740005,6640000,0,0
2021-05-06,156.000000,176.880005,155.000000,172.520004,6212700,0,0
2021-05-07,177.990005,179.500000,170.100006,176.000000,2571200,0,0
...,...,...,...,...,...,...,...
2022-04-26,50.000000,50.980000,47.009998,47.419998,3180500,0,0
2022-04-27,47.290001,48.880001,45.599998,46.459999,3247500,0,0
2022-04-28,46.980000,47.730000,42.130001,44.270000,4449700,0,0
2022-04-29,45.950001,52.480000,44.900002,45.070000,7740200,0,0
2022-05-02,44.900002,53.790001,44.680000,53.750000,8680900,0,0

In [4]:
from numpy.ma.core import mean

def get_52Week_Low(dframe):
  df = dframe
  low_52Week = min(df['Low'])
  print("52 week low:", '{:.2f}'.format(low_52Week))

def get_52Week_High(dframe):
  df = dframe
  high_52Week = max(df['High'])
  print("52 week high:", '{:.2f}'.format(high_52Week))

def get_52Week_AvgVol(dframe):
  df = dframe
  avg_vol_52week =mean(df['Volume'])
  print("52 week average volume:", '{:.2f}'.format(avg_vol_52week))


get_52Week_Low(df)
get_52Week_High(df)
get_52Week_AvgVol(df)

52 week low: 42.13
52 week high: 277.80
52 week average volume: 5125086.56